/* footer style */

.content{
    color: rgb(200, 200, 200);
}

.con-hd{
    color: white;
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
}

.s1{
    width:100%;
    height: 3rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.s2{
    color: white;
    background-color: rgb(213, 188, 120);
}   /* footer style end */

/* Recent Post style */

.a1{
    text-decoration: none;
    color: black;
}

.S3{
    color: rgb(223, 0, 0);
    text-align: left;
} 

.s5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    transform: translateY(-100%);
}

.s6{
    font-family: 'Parisienne', cursive;
    text-align: center;
    color: white;
    font-size: 5.2rem;
    transform: translateY(10%);
}
/* Recent Post style end */

/* chefs style */

.s7{
    font-family: 'Parisienne', cursive;
    text-align: center;
    color: rgb(255, 196, 0);
    font-size: 5.2rem;
    transform: translateY(10%); 
}

/* chefs style end (.s5 include too) */

/* services style */
.set {
   width: 25%;
   height: 25%;
   left: 35%; 
   transform: translate(0, 50%);
   position:relative;
   margin-bottom: 23%;
}

/* services style end (.s5 & .s6 include too)  */

.reset{
    /* text-align: center; */
    align-items: center;
}



.content-1{
    color: rgb(138, 138, 138);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

/* About us 1 & 2 style */

.fsize{
    font-size: 2.5rem;
    font-weight: bold;
}

.fset{
    padding-left: 5rem;
    transform: translateY(-60%);
}

.style-site{
    display: flex;
    position: relative;
    width: 100%;
    padding: 0 15px;
    }

.Aboutimg-1{
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    }

.Aboutimg-2{
    width: 100%;
    height: 26rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    }

.subheading{
    font-family: 'Parisienne', cursive;
    color: rgb(255, 196, 0);
    font-size: 5.8rem;
    transform: translateY(10%);
    }

.mys4{
    font-size: 2.5rem;
    font-weight: bold;
    transform: translateY(-140%);
    }

.my-para{
    line-height: 2rem; 
    transform: translateY(-23%);
    }

.Myno{
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    }

/* About us 1 & 2 end */

/* Dishes style */

.food-pic{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
 }  /* Dishes end */

 /* Banner area style  */

.my-img-1{
    height:31.25rem;
    width: 100%;
    position: relative;
    background-image: url("bg-image-banner-1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

.my-img-1::before{
   content: ' ';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,0.55);
}

.my-img-2{
    height:31.25rem;
    width: 100%;
    position: relative;
    background-image: url("bg-image-banner-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

.my-img-2::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
    }

.my-img-3{
    height:31.25rem;
    width: 100%;
    position: relative;
    background-image: url("bg-image-banner-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

.my-img-3::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
 }

.my-img-4{
    height:31.25rem;
    width: 100%;
    position: relative;
    background-image: url("bg-image-banner-4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

.my-img-4::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.55);
    }

.custom {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(0%, -50%);
}

.hd1{
    color: white;
    font-size: 3.5rem;
}

.hd2{
    font-family: 'Parisienne', cursive;
    font-size: 4rem;
    color: rgb(255, 216, 86);
    } 

@media(max-width: 440px){
    .hd1{
        font-size: 2.5rem;
    }

    .hd2{
        font-size: 2.5rem; 
    }
}

/* banner area end */

/* Navbar style */

a{
    font-size:14px;
    font-weight:700
  }
  .superNav {
    font-size:13px;
  }
  .form-control {
    outline:none !important;
    box-shadow: none !important;
  }
  @media screen and (max-width:540px){
    .centerOnMobile {
      text-align:center
    }
  } /* Navbar end */

  /* Image Gallery style */
  .menu-btn {
    padding: 0.4rem 1.7rem;
    background-color: black;
    color: white;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    .flex-container {
      display: flex;
      flex-flow: column-reverse;
    }
}   /* Image Gallery end */

/* Background Attach style */

.fix-bg {
    background: url(restaurant\ 4.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
  }

  .fix-bg-1 {
    background-color: white;
  }

  .f1 {
    width: 60%;
    height: 70%;
  }

  .book-table-btn {
    /* margin-left: 30%; */
    margin-top: 7%;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: black;
    color: rgb(255, 237, 197);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
  }

   @media (max-width: 480px) {
    .f1 {
      width: 90%;
      align-items: center;
   }
}
/* Background Attach end */

  

  
